@{
    //var seed = new Pizza{
    //        Nome = "Regina Margherita",
    //        Descrizione = "Pizza margherita con mozzarella di Bufala",
    //        Foto = "/img/bufala.jpg",
    //        Prezzo = "12.00€"
    //};
    @model Pizza
}
<h1>Ci Sono</h1>